@import "../../responsive.scss";

nav {
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
  border-bottom: 1px solid rgb(234, 229, 229);

  a {
    @include small {
      display: none;
    }
  }

  .leftSide {
    width: 60%;
    display: flex;
    align-items: center;
    gap: 40px;

    .logo {
      font-weight: bold;
      font-size: 20px;
      display: flex;
      gap: 12px;
      align-items: center;

      span {
        @include medium {
          display: none;
        }

        @include small {
          display: block;
        }
      }
    }
  }

  .rightSide {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    height: 100%;

    .signup {
      background-color: black;
      color: white;
      margin: 25px;
    }

    a {
      padding: 13px 25px;
    }

    .menu {
      display: none;
      z-index: 20;
      background-color: rgb(130, 128, 128);

      @include small {
        display: inline;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 20px;
      }

      img {
        cursor: pointer;
      }
    }

    .Menu {
      position: absolute;
      background-color: black;
      color: white;
      height: 100vh;
      width: 65%;
      top: 0;
      right: -70%;
      transition: all 1s ease;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 24px;
      flex-direction: column;
      display: none;

      @include small {
        display: flex;
      }

      &.active {
        right: 0;
      }

      @include small {
        a {
          display: block;
        }
      }
    }
  }
}
